.FullView {
display: grid;
flex-direction: row;
}

.header{
  background-color: #1E9965;
  width: 100%; 
  display: grid;

  height: 7%;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
  justify-self: center;
  padding-bottom: 11px;

}

.songs-body{
  display: flex;
  flex-direction: row;
  align-content: stretch;
  background-color: white;
  justify-content: space-between;
}

.full-song{
  width: 100%;
}

h1{
  color: white;
  font-size: calc(32px + (64 - 32) * ((100vw - 375px) / (1600 - 300))); 
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.main_header{
  text-align: left;
  text-shadow: 2px 4px black;
}

.key_menu{
  text-align: center;
  max-width: 215px; 
  min-width: 140px;
  justify-self: right;
}


.create_button{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 6px;
  background-color: #FBE646;
  text-decoration: none;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  max-width: 215px; 
  min-width: 140px;
  justify-self: right;
  box-shadow: 2.5px 5px black;
}

.create_button:hover{
  background-color: #FBC34D;
}

.logout_button{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 6px;
  background-color: #FBE646;
  text-decoration: none;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  max-width: 215px;
  min-width: 140px;
  justify-self: left;
  box-shadow: 2.5px 5px black;
}

.logout_button:hover{
  background-color: #FBC34D;
}
.create_button:active, .logout_button:active{
  background-color: #F69F44;
  box-shadow: 2.5px 5px rgb(255, 255, 255);
  transform: translateY(4px);
}

.song_list_grid{ 
  width: 100%;
}

.song_list{
 display: grid;
 list-style: none;
 padding-left: 0px;
 margin: 0px;

 --stagger-delay: 100ms;
}

.song{
  text-decoration: none;

}

.song_info{
  max-height: 0;
  transition: 0.5s ease;
  background-color: white;
  width: 100%;
  text-align: center;

}

.song_info_collapsed{
  max-height: 600px;
  transition: 0.5s ease;
  overflow-y: scroll
}

.song_div{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: left;
  background-color: #1E9965;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  /* border-radius: 12px; */
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  animation: songEntrance 700ms ease-out;
  animation-fill-mode: backwards;
  

} 
.song_div:hover{
  background-color: #15885A;
  transform: scale(1.05);
}

.song_title{
color: white;
padding-left: 12%;
text-shadow: 1px 1px 3px #000000;
}
.song_lyrics{
  text-align: left;
  padding-left: 5%;
  padding-right: 4%;
  
}

@keyframes songEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}

/* Delays for visible songs on load */

.song_div:nth-child(1) {
  animation-delay: calc(1 * var(--stagger-delay));
}
.song_div:nth-child(2) {
  animation-delay: calc(2 * var(--stagger-delay));
}
.song_div:nth-child(3) {
  animation-delay: calc(3 * var(--stagger-delay));
}
.song_div:nth-child(4) {
  animation-delay: calc(4 * var(--stagger-delay));
}
.song_div:nth-child(5) {
  animation-delay: calc(5 * var(--stagger-delay));
}
.song_div:nth-child(6) {
  animation-delay: calc(6 * var(--stagger-delay));
}
.song_div:nth-child(7) {
  animation-delay: calc(7 * var(--stagger-delay));
}
.song_div:nth-child(8) {
  animation-delay: calc(8 * var(--stagger-delay));
}
.song_div:nth-child(9) {
  animation-delay: calc(9 * var(--stagger-delay));
}
.song_div:nth-child(10) {
  animation-delay: calc(10 * var(--stagger-delay));
}
.song_div:nth-child(11) {
  animation-delay: calc(11 * var(--stagger-delay));
}
.song_div:nth-child(12) {
  animation-delay: calc(12 * var(--stagger-delay));
}
.song_div:nth-child(13) {
  animation-delay: calc(13 * var(--stagger-delay));
}
.song_div:nth-child(14) {
  animation-delay: calc(14 * var(--stagger-delay));
}
